<b style="font-size: 16px;">Editing - TACACS+ Daemon</b><br /><br /><br />

<%= error_messages_for :tacacs_daemon %>

<% form_for(:tacacs_daemon, :url => tacacs_daemon_url(@tacacs_daemon), :html => { :method => :put }) do |f| %>
<table>
  <tr>
    <td><b>Name:</b></td> 
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><b>Configuration:</b></td> 
    <td><%= f.select :configuration_id, Configuration.find(:all, :order => :name).collect {|p| [ p.name, p.id ] }, { :include_blank => true } %></td>
  </tr>
  <tr>
    <td><b>Ip:</b></td> 
    <td><%= f.text_field :ip %></td>
  </tr>
  <tr>
    <td><b>Port:</b></td> 
    <td><%= f.text_field :port %></td>
  </tr>
  <tr>
    <td><b>Maximum Concurrent Clients:</b></td> 
    <td><%= f.text_field :max_clients %></td>
  </tr>
  <tr>
    <td><b>Socket Timeout:</b></td> 
    <td><%= f.text_field :sock_timeout %></td>
  </tr>
  <tr><td>&nbsp</td></tr>
  <tr>
    <td><%= submit_tag "Update" %></td>
    <td><input type=button value="Cancel" onclick="window.location.href='<%= tacacs_daemon_url(@tacacs_daemon) %>'" /></td>
    <td colspan="2">&nbsp</td>
  </tr>
</table>
<% end %>
