<script type="text/javascript">
function addAVPair() {
  var top = document.getElementById('AvDiv');
  var newdiv = document.createElement('div');
  var divIdName = 'AvDiv' + top.childNodes.length;
  var fieldName = 'custom' + top.childNodes.length;
  newdiv.setAttribute('id',divIdName);
  newdiv.innerHTML = 'set <input id="avpairs[' + fieldName +']" name="avpairs[' + fieldName + ']" type="text" size="50" />';
  top.appendChild(newdiv);
}
</script>



<b style="font-size: 16px;">author-avpair-list '<%=h @author_avpair.name %>' <%=h @author_avpair_entry.sequence %></b><br /><br />

<%= error_messages_for :author_avpair_entry %>

<% in_use = {}
   @author_avpair_entry.avpairs.each {|x| in_use[x.attr] = x}
%>
<b><u>Update Settings</u></b><br /><br />
<% form_for(:author_avpair_entry, :url => author_avpair_entry_url(@author_avpair_entry), :html => {:method => :put} )  do |f| %>
      <%= f.hidden_field :author_avpair_id, :value => @author_avpair.id %>
<div id="AvDiv">
      <div>seq <%= f.text_field :sequence,:size => 2 %></div>
      <div>match access-list <%= f.select :acl_id, @author_avpair.configuration.acls.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %></div>
      <div>set service= <%= f.text_field :service, :value => @author_avpair_entry.service, :size => 20 %></div>

  <% if (!in_use.has_key?('autocmd')) %><div>set autocmd=<%= text_field_tag 'avpairs[autocmd]',nil, :size => 15 %></div><% end %>
  <% if (!in_use.has_key?('callback-line')) %><div>set callback-line=<%= text_field_tag 'avpairs[callback-line]',nil, :size => 10 %></div><% end %>
  <% if (!in_use.has_key?('callback-rotary')) %><div>set callback-rotary=<%= text_field_tag 'avpairs[callback-rotary]',nil, :size => 10 %></div><% end %>
  <% if (!in_use.has_key?('idletime')) %><div>set idletime=<%= text_field_tag 'avpairs[idletime]',nil, :size => 3 %></div><% end %>
  <% if (!in_use.has_key?('nocallback-verify')) %><div>set nocallback-verify <%= check_box_tag 'avpairs[nocallback-verify]', true %></div><% end %>
  <% if (!in_use.has_key?('noescape')) %><div>set noescape <%= check_box_tag 'avpairs[noescape]', true %></div><% end %>
  <% if (!in_use.has_key?('nohangup')) %><div>set nohangup <%= check_box_tag 'avpairs[nohangup]', true %></div><% end %>
  <% if (!in_use.has_key?('priv_lvl')) %><div>set priv_lvl=<%= text_field_tag 'avpairs[priv_lvl]',nil, :size => 3 %></div><% end %>
  <% if (!in_use.has_key?('timeout')) %><div>set timeout=<%= text_field_tag 'avpairs[timeout]',nil, :size => 3 %></div><% end %>
</div>


  <br />
      <input type=button value="Custom AVPair" onclick="javascript:addAVPair()" />
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <%= submit_tag "Update" %>
      <input type=button value="Cancel" onclick="window.location.href='<%= author_avpair_url(@author_avpair) %>'" />
<% end %>


<br /><br />
<b><u>Delete AVPairs</u></b><br /><br />
<% @author_avpair_entry.avpairs.each do |avpair| %>
  <%= link_to(image_tag('delete_button.png', :border => 'none'), avpair_url(avpair), :method => :delete) %> set <%=h avpair.avpair %> <br />
<% end %>

<br /><br />