<b style="font-size: 16px;"><%= pluralize(@log_count, "AAA Log" ) %></b><br /><br />


<% if (@log_count != 0) %>
    <b>Current Time: </b><%= Time.now.strftime("%Y-%m-%d %H:%M:%S %Z") %></b>
    <table id="logs">
    <tr>
      <td colspan="<%= AaaLog.short_log_fields_header.length + 1 %>">
        <% if @search_opts %>
            <%= will_paginate @logs, :params => @search_opts %>
        <% else %>
            <%= will_paginate @logs %>
        <% end %>
      </td>
    </tr>

    <tr>
        <td>&nbsp</td>
        <% for field in AaaLog.short_log_fields_header %>
        <th><%= field %></th>
        <% end %>
    </tr>

    <% shaded = true %>
    <% for log_entry in @logs %>
      <% if (shaded) %>
          <tr class="shaded">
          <% shaded = false %>
      <% else %>
          <tr class="light_shaded">
          <% shaded = true %>
      <% end %>
          <td><%= link_to image_tag('view_button.png', :border => 'none'), aaa_log_details_configuration_url(@configuration, :aaa_log_id => log_entry.id) %></td>
        <% for field in log_entry.short_log_fields %>
          <td><%=h field %></td>
        <% end %>
      </tr>
    <% end %>

    <tr>
        <td colspan="<%= AaaLog.log_fields_header.length + 1 %>">
        <% if @search_opts %>
            <%= will_paginate @logs, :params => @search_opts %>
        <% else %>
            <%= will_paginate @logs %>
        <% end %>
        </td>
    </tr>
    </table>

    <br /> <br />

<% end %>
