<b style="font-size: 16px;">Log Search</b><br /><br />

<p>
  All fields (except time fields) support regular expression searches.
  Time fields are in the format "yyyy-mm-dd hh:mm:ss". Hour/Minute/Second defaults to 00:00:00 if not specified.
</p>

<% form_for(:configuration, :url => search_aaa_logs_configuration_url(@configuration), :html => { :method => :get }) do |f| %>
  <table>
    <tr>
        <td><b>Start Time:</b></td> <td><%= text_field_tag "search_criteria[start_time]", nil, :size => 19  %></td>
        <td><b>End Time:</b></td> <td><%= text_field_tag "search_criteria[end_time]",nil, :size => 19  %></td>
    </tr>

    <tr>
        <td><b>Username:</b></td> <td colspan="3"><%= text_field_tag "search_criteria[user]", nil, :size => 30  %></td>
    </tr>

    <tr>
        <td><b>Client IP:</b></td> <td><%= text_field_tag "search_criteria[client]",nil, :size => 19 %></td>
    </tr>

    <tr>
        <td><b>Client Hostname:</b></td> <td><%= text_field_tag "search_criteria[client_name]", nil, :size => 19 %></td>
    </tr>

    <tr>
        <td>&nbsp</td>
    </tr>
    <tr>
        <td><%= submit_tag "Search" %></td>
    </tr>
  </table>
<% end %>

<br />
