
    <b style="font-size: 24px;"><%= @configuration.name %></b><br /><br /><br />

    <table  class="index_list">
    <% @requested.keys.sort.reverse.each do |cat| %>
        <tr><td colspan="5"><u><b style="font-size: 16px;"><%= cat %> (<%= @requested[cat].length %> total)</b></u></td></tr>
        <tr><td>&nbsp</td></tr>

        <% shaded = true %>
        <% for username in @requested[cat].keys.sort %>
          <% configured_user = @requested[cat][username] %>
          <% if (shaded) %>
                <tr class="shaded">
                <% shaded = false %>
          <% else %>
                <tr>
                <% shaded = true %>
          <% end %>

              <td>
              <%= link_to( image_tag('delete_button.png', :border => 'none'), configured_user_url(configured_user), :confirm => "Remove #{username} from configuration?", :method => :delete) %>
              &nbsp
              <%= link_to( image_tag('edit_button.png', :border => 'none'), edit_configured_user_url(configured_user)) %>
              </td>

            <% if (!configured_user.user.real_name.blank?) %>
              <td nowrap><a href="#" class="tip"><%= username %><span><%= configured_user.user.real_name %></span></a></td>
            <% else %>
              <td><%= username %></td>
            <% end %>

            <% if (configured_user.pending?) %>
              <td nowrap>
                <%= link_to(image_tag('unchecked.png', :border => 'none'), approve_configured_user_url(configured_user),
                                      :confirm => "Approve user?", :method => :put) %>
                approve
                &nbsp&nbsp
                <%= link_to(image_tag('unchecked.png', :border => 'none'), approve_active_configured_user_url(configured_user),
                                      :confirm => "Approve and activate user?", :method => :put) %>
                approve-active
                &nbsp&nbsp
                <%= link_to(image_tag('unchecked.png', :border => 'none'), deny_configured_user_url(configured_user),
                                      :method => :put) %>
                deny
              </td>
            <% elsif (configured_user.denied?) %>
              <td>
                <%= link_to(image_tag('unchecked.png', :border => 'none'), approve_configured_user_url(configured_user),
                            :confirm => "Approve previously denied request?", :method => :put) %>
                approve
                &nbsp&nbsp
                <%= link_to(image_tag('unchecked.png', :border => 'none'), approve_active_configured_user_url(configured_user),
                                      :confirm => "Approve and activate previously denied request?", :method => :put) %>
                approve-active
                &nbsp&nbsp
                <%= image_tag('checked.png', :border => 'none') %>
                deny
              </td>
            <% end %>

            <% if (!configured_user.notes.blank?) %>
              <td nowrap><a href="#" class="tip"><b><u>notes</u></b><span><pre><%= configured_user.notes %></pre></span></a></td>
            <% else %>
              <td>&nbsp</td>
            <% end %>

        </tr>
        <% end %>
        <tr><td>&nbsp</td></tr><tr><td>&nbsp</td></tr><tr><td>&nbsp</td></tr>
    <% end %>
    </table>


<br /><br /><br />

