    <b style="font-size: 24px;"><%= @configuration.name %></b><br /><br /><br />

    <b style="font-size: 16px;"><%= pluralize(@configuration.configured_users.count, "User" ) %></b><br />
    <table class="index_list">
        <tr><td colspan="8" style="border-bottom: 1px solid #000000;"><%= will_paginate @users %></td></tr>
        <tr><td>&nbsp</td></tr>
        <tr>
            <th>&nbsp</th>
            <th>Username</th>
            <th>Role</th>
            <th>User Group</th>
            <th>&nbsp</th>
        </tr>

        <% blue = 1 %>
            <% for user in @users
                cu = @configured_users[user.id]
                if (!cu.suspended? && !user.disabled?)
                        if (blue == 1)
                            user_class="shaded"
                        else
                            user_class="light_shaded"
                        end
                else
                        user_class="disabled"
                end
            %>
            <%= render :partial => 'user_index', :locals => { :user => user, :cu => cu, :user_class => user_class, :blue => blue } %>
            <% 
                if (blue == 1)
                    blue = 0
                else
                    blue = 1
                end
            end
            %>
        <tr><td>&nbsp</td></tr>
        <tr><td colspan="8" style="border-top: 1px solid #000000;"><%= will_paginate @users %></td></tr>
    </table>


<br /><br /><br />

