<b style="font-size: 16px;">Edit User</b><br /><br />

<%= error_messages_for :user %>

<% form_for(:user, :url => user_url(@user), :html => { :method => :put }) do |f| %>
<table class="form">
  <tr>
    <td><b>Username:</b></td> <td><%= f.text_field :username, {:tabindex => 1} %></td>
  </tr>

  <tr>
    <td><b>Real Name:</b></td> <td><%= f.text_field :real_name, {:tabindex => 2} %></td>
  </tr>

  <tr>
    <td><b>Email:</b></td> <td><%= f.text_field :email, {:tabindex => 4} %></td>
  </tr>

  <tr>
    <td><b>Department:</b></td>
    <td style="text-align: left;"><%= f.select :department_id, Department.find(:all, :order => :name).collect {|p| [ p.name, p.id ] }, { :include_blank => true } %></td>
  </tr>
</table>

<br /><br />

<table>
  <tr>
    <td><b>Login password Lifespan:</b></td>
    <td><%= f.select :login_password_lifespan, password_lifespan_options(@user.login_password_lifespan) %></td>
  </tr>
  <tr>
    <td><b>Enable password Lifespan:</b></td>
    <td><%= f.select :enable_password_lifespan, password_lifespan_options(@user.enable_password_lifespan) %></td>
  </tr>
  <tr>
    <td><b>Password History Length:</b></td>
    <td><%= f.text_field :password_history_length, {:size => 1, :tabindex => 8} %> <i>(overrides global setting)</i></td>
  </tr>
</table>

<br /><br />

<table>
  <tr>
    <td><b>Notes:</b></td> <td><%= f.text_area :notes, :cols => 40, :rows => 8, :wrap => 'off' %></td>
  </tr>
</table>

<br /><br />

<%= submit_tag "Update" %>
&nbsp&nbsp
<input type=button value="Cancel" onclick="window.location.href='<%= user_url(@user) %>'" />

<% end %>