<b style="position:relative; left: 300px; font-size: 24px;"><u>Home</u></b><br /><br />

<table>
  <tr><td><b><u>Accout Information</u></b></td></tr>
  <tr><td><b>Username:</b></td> <td><%= @user.username %></td></tr>
  <tr><td><b>Real Name:</b></td> <td><%= @user.real_name %></td></tr>
  <tr><td><b>Department:</b></td> <td><%= @user.department.name if (@user.department) %></td></tr>
  <tr><td><b>Email:</b></td> <td><%= @user.email %></td></tr>
  <tr><td><b>Alerts Email:</b></td> <td><%= @user.alerts_email %></td></tr>
  <tr><td>&nbsp</td></tr>
  <tr><td><b><u>Login Password</u></b></td></tr>
  <tr><td><b>Lifespan:</b></td> <td><%= password_lifespan_xlate(@user.login_password_lifespan) %></td></tr>
  <tr><td><b>Status:</b></td> <td><%= password_status(@user) %></td></tr>
  <% if @user.password_history_length %>
  <tr><td><b>History:</b></td> <td><%= pluralize(@user.password_history_length, "entry" ) %></td></tr>
  <% end %>
  <tr><td>&nbsp</td></tr>
  <tr><td><b><u>Enable Password</u></b></td></tr>
  <tr><td><b>Lifespan:</b></td> <td><%= password_lifespan_xlate(@user.enable_password_lifespan) %></td></tr>
  <tr><td><b>Status:</b></td> <td><%= enable_status(@user) %></td></tr>
  <% if @user.password_history_length %>
  <tr><td><b>History:</b></td> <td><%= pluralize(@user.password_history_length, "entry" ) %></td></tr>
  <% end %>
</table>


<br /><br />

<% if (@configurations.length > 0) %>

<table class="spaced">
  <tr><td colspan="4"><b><u>Current Configuration Memberships</u></b></td></tr>
  <tr> <td><b>Name</b></td> <td><b>Status</b></td> </tr>
  <% shaded = true %>
  <% for configuration in @configurations %>
    <% next if ( !@memberships.has_key?(configuration.id) ) %>
    <% if (shaded) %>
            <tr class="shaded">
            <% shaded = false %>
    <% else %>
            <tr>
            <% shaded = true %>
    <% end %>

    <td>
      <% if (@memberships[configuration.id].active? && (@memberships[configuration.id].admin? || @memberships[configuration.id].viewer?) ) %>
        <%= link_to configuration.name, configuration_url(configuration) %></td>
      <% else %>
        <%= configuration.name %>
      <% end %>
    </td>
    <td><%= @memberships[configuration.id].status %></td>
  </tr>
  <% end %>
</table>
<% end %>