<b style="font-size: 16px;">Password Lifespan Summary</b><br /><br />

  <table class="index_list">
    <tr>
        <th>&nbsp</th>
        <th>Username</th>
        <th>Real Name</th>
        <th>&nbsp</th>
        <th>Login Password</th>
        <th>Last Updated</th>
        <th>&nbsp</th>
        <th>Enable Password</th>
        <th>Last Updated</th>
    </tr>

    <% blue = 1 %>
    <% for user in @users
           if (!user.disabled?)
                if (blue == 1)
                    user_class="shaded"
                else
                    user_class="light_shaded"
                end
           else
                user_class="disabled"
           end
    %>
    <tr class="<%= user_class %>">
      <td nowrap>
          <%= link_to( image_tag('edit_button.png', :border => 'none'), edit_user_url(user)) %>
      </td>
      <td><%= user.username %></td>
      <td><%=h user.real_name %></td>
      <th>&nbsp</th>
      <td><%= password_lifespan_xlate(user.login_password_lifespan) %></td>
      <td class="toggles"><%= user.login_password.updated_at.strftime("%Y-%m-%d") %></td>
      <th>&nbsp</th>
      <td><%= password_lifespan_xlate(user.enable_password_lifespan) %></td>
      <td class="toggles"><%= user.enable_password.updated_at.strftime("%Y-%m-%d") %></td>
    </tr>
    <%
          if (blue == 1)
               blue = 0
           else
               blue = 1
           end
    end
    %>
  </table>
    <br /><br />


