<b style="font-size: 16px;">Password Lifespan Summary</b><br /><br />

  <table class="index_list">
    <tr>
        <th>&nbsp</th>
        <th>Username</th>
        <th>Real Name</th>
        <th>&nbsp</th>
        <th>Login Password Lifespan <i>(yyyy/mm/dd)</i></th>
        <th>&nbsp</th>
        <th>Enable Password Lifespan <i>(yyyy/mm/dd)</i></th>
    </tr>

    <% blue = 1 %>
    <% for user in @users
           if (!user.disabled?)
                if (blue == 1)
                    user_class="shaded"
                else
                    user_class="light_shaded"
                end
           else
                user_class="disabled"
           end
    %>
    <tr class="<%= user_class %>">
      <td nowrap>
          <%= link_to( image_tag('edit_button.png', :border => 'none'), edit_user_url(user)) %>
      </td>
      <td><%= user.username %></td>
      <td><%=h user.real_name %></td>
      <th>&nbsp</th>
      <td class="toggles" style="text-align: left;">
        <% if (user.login_password_lifespan > 0) %>
            <%= user.login_password.updated_at.strftime("%Y/%m/%d") %> - <%= user.login_password.expires_on.strftime("%Y/%m/%d") %>
            <i>(<%= password_lifespan_xlate(user.login_password_lifespan) %>)</i>
        <% else %>
            <%= user.login_password.updated_at.strftime("%Y/%m/%d") %> - ????/??/?? <i>(unlimited)</i>
        <% end %>
      </td>
      <th>&nbsp</th>
      <td class="toggles">
        <% if (user.enable_password_lifespan > 0) %>
            <%= user.enable_password.updated_at.strftime("%Y/%m/%d") %> - <%= user.enable_password.expires_on.strftime("%Y/%m/%d") %>
            <i>(<%= password_lifespan_xlate(user.enable_password_lifespan) %>)</i>
        <% else %>
            <%= user.enable_password.updated_at.strftime("%Y/%m/%d") %> - ????/??/?? <i>(unlimited)</i>
        <% end %>
      </td>
    </tr>
    <%
          if (blue == 1)
               blue = 0
           else
               blue = 1
           end
    end
    %>
  </table>
    <br /><br />


