<b style="font-size: 16px;">Reset Enable Password for <%=h @user.username%></b><br /><br />

<%= error_messages_for :user %>

<% pw = User.random_password(@local_manager.password_minimum_length) %>
<% form_for(:user, :url => update_reset_enable_user_url(@user), :html => { :method => :put }) do |f| %>
<table>
  </tr>
    <td><b>New Enable Password:</b></td> <td><%= password_field_tag :enable, :value => pw %></td>
    <td><b>Confirm:</b></td> <td><%= password_field_tag :enable_confirmation, :value => pw %></td>
  </tr>
  </tr>
    <td><i>Defaults to:</i></td> <td style="text-align: left; color: #7B2024; font-weight: bold;"><i><%= pw %></td>
  </tr>
  </tr>
    <td colspan="4">&nbsp</td>
  </tr>
  <% if (@user.enable_password_lifespan != 0) %>
  <tr>
    <td><b>Do Not Expire Password:</b></td>
    <td><%= check_box_tag :no_expire, 1, false %></td>
  </tr>
  <% end %>

  <% if (@local_manager.enable_mailer && !@user.email.blank?) %>
  <tr>
    <td><b>Email password to user:</b></td>
    <td><%= check_box_tag :notify, 1, true %></td>
  </tr>
  <% end %>

  </tr>
    <td colspan="4">&nbsp</td>
  </tr>
  <tr>
    <td><%= submit_tag "Reset" %></td>
    <td><input type=button value="Cancel" onclick="window.location.href='<%= user_url(@user) %>'" /></td>
    <td colspan="2">&nbsp</td>
  </tr>
</table>
<% end %>
