<%= error_messages_for :user %>

<table>
  <tr><td><b><u>Accout Information</u></b></td></tr>
  <tr><td><b>Username:</b></td> <td><%= @user.username %></td></tr>
  <tr><td><b>Last Login:</b></td> <td><%= @user.last_login %></td></tr>
  <tr><td><b>Created:</b></td> <td><%= @user.created_at %></td></tr>
  <tr><td><b>Real Name:</b></td> <td><%= @user.real_name %></td></tr>
  <tr><td><b>Department:</b></td> <td><%= @user.department.name if (@user.department) %></td></tr>
  <tr><td><b>Email:</b></td> <td><%= @user.email %></td></tr>
  <tr><td><b>Alerts Email:</b></td> <td><%= @user.alerts_email %></td></tr>
  <% if (@session_user.admin?) %>
  <tr><td><b>Role:</b></td><td><%= user_role_checkboxes(@user) %></td></tr>
  <% else %>
  <tr><td><b>Role:</b></td><td><%=h @user.role %></td></tr>
  <% end %>
  <tr><td>&nbsp</td></tr>
  <tr><td><%= user_active_checkbox(@user) %><b>Account Enabled</b></td></tr>
  <tr><td><%= user_web_login_checkbox(@user) %><b>Web Login Allowed</b></td></tr>
  <tr><td>&nbsp</td></tr>
  <tr><td><b><u>Login Password</u></b></td></tr>
  <tr><td><b>Lifespan:</b></td> <td><%= password_lifespan_xlate(@user.login_password_lifespan) %></td></tr>
  <tr><td><b>Status:</b></td> <td><%= password_expiry_checkboxes(@user) %></td></tr>
  <% if @user.password_history_length %>
  <tr><td><b>History:</b></td> <td><%= pluralize(@user.password_history_length, "entry" ) %></td></tr>
  <% end %>
  <tr><td>&nbsp</td></tr>
  <tr><td><b><u>Enable Password</u></b></td></tr>
  <tr><td><b>Lifespan:</b></td> <td><%= password_lifespan_xlate(@user.enable_password_lifespan) %></td></tr>
  <tr><td><b>Status:</b></td> <td><%= enable_expiry_checkboxes(@user) %></td></tr>
  <% if @user.password_history_length %>
  <tr><td><b>History:</b></td> <td><%= pluralize(@user.password_history_length, "entry" ) %></td></tr>
  <% end %>
</table>

<br /><br />

<table class="spaced">
  <tr><td colspan="4"><b><u>Configuration Memberships</u></b></td></tr>
  <tr> <td>&nbsp</td> <td><b>Name</b></td> <td><b>Status</b></td> <td><b>Role</b></td> <td><b>User Group</b></td> </tr>
  <% for configuration in @configurations %>
    <tr class="shaded">
    <% if (@memberships.has_key?(configuration.id)) %>
      <td>
        <%= link_to image_tag('checked.png', :border => 'none'), {:action => :remove_from_configuration, :id => @user.id, :configuration => configuration.id},
                                                                    :confirm => "Remove from configuration?", :method => :post %>
      </td>
      <td><%= configuration.name %></td>
      <td><%= @memberships[configuration.id].status %></td>
      <td><%= @memberships[configuration.id].role %></td>
      <td><%= @memberships[configuration.id].user_group.name if (@memberships[configuration.id].user_group) %></td>

    <% else %>
      <td>
        <%= link_to image_tag('unchecked.png', :border => 'none'), {:action => :add_to_configuration, :id => @user.id, :configuration => configuration.id},
                                                                    :confirm => "Add to configuration?", :method => :post %>
      </td>
      <td><%= configuration.name %></td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
    <% end %>
  </tr>
  <% end %>
</table>

<br /><br />

<b><u>Notes</u></b><br />
<pre><%=h @user.notes %></pre>
<br /><br />