<b style="font-size: 16px;">Inbox - <%= @manager.name %></b><br />
<b>Queue Length: <%= @msg_count %></b><br />
<b>Revision: <%= @manager.inbox_revision %></b><br />
<% if (@msg_count > 0) && !@manager.inbox_locked? %>
<%= link_to "Process Inbox Now!", process_inbox_manager_url(@manager), :style => "color: #7B2024; font-weight: bold;", :confirm => "Process Inbox?", :method => :post %><br />
<% end %>
<br />

<% if (@manager.inbox_locked?) %>
<b style="color: #7B2024; font-weight: bold;">Locked until: <%= @manager.inbox_lock.expires_at %></b><br />
<% end %>

<%= will_paginate @inbox %>
<table class="index_list">
<% for message in @inbox %>
    <tr class="shaded">
      <td colspan="2" style="border: 1px solid #000000; border-bottom: none;">
        &nbsp
        <b>Verb:</b> <i><%=h message.verb %></i>
        &nbsp&nbsp&nbsp
        <b>Revision:</b> <%=h message.revision %>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <b>Creation Date/Time:</b> <i><%=h message.created_at.strftime("%Y-%m-%d %H:%M:%S %Z") %></i>
        &nbsp&nbsp&nbsp&nbsp
        <%= link_to 'Delete', system_message_url(message), :style => "color: #7B2024; font-weight: bold;", :method => :delete %>
      </td>
    </tr>
    <tr class="shaded">
      <td style="border: 1px solid #000000;">FILE: <%= message.content_file %><pre><%=h message.content %></pre></td>
    </tr>
  <tr><td>&nbsp</td></tr>
<% end %>
</table>
<%= will_paginate @inbox %>
