<%= error_messages_for :manager %>

<table>
    <% if (!@manager.is_approved) %>
    <tr><td colspan="2" style="text-align:center;"><b style="color:#7B2024;"><i>Awaiting Approval</i></b></td></tr>
    <% elsif (!@manager.is_enabled) %>
    <tr><td colspan="2" style="text-align:center;"><b style="color:#7B2024;"><i>Disabled - <%= @manager.disabled_message %></i></b></td></tr>
    <% end %>
    <tr><td><b>Serial:</b></td> <td><%=h @manager.serial %></td></tr>
    <tr><td><b>Name:</b></td> <td><%=h @manager.name %></td></tr>
    <tr><td><b>URL:</b></td> <td><%=h @manager.base_url %></td></tr>
    <tr><td>&nbsp</td></tr>
</table>
