<b style="font-size: 16px;">Author AVPair '<%=h @author_avpair.name %>'</b><br /><br />


<%= error_messages_for :author_avpair_entry %>
<%= error_messages_for :author_avpair %>

<%= author_avpair_description(@author_avpair, true) %>

<hr /><br />

<b><u>Add entry</u></b><br /><br />
<% form_for(:author_avpair_entry, :url => create_entry_author_avpair_url(@author_avpair), :html => {:method => :post} )  do |f| %>
  <div id="AvDiv">
     <div>seq <%= f.text_field :sequence,:size => 2 %></div>
     <div>match access-list <%= f.select :acl_id, @author_avpair.configuration.acls.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %></div>
     <div>set service= <%= f.text_field :service, :value => 'shell', :size => 20 %></div>
  </div>

    <br />
    <%= submit_tag "Add Entry" %>
<% end %>

<br /><br />