<% last1day = (Date.today - 1).strftime("%Y-%m-%d") + " 00:00:00" %>
<% last7day = (Date.today - 7).strftime("%Y-%m-%d") + " 00:00:00" %>
<% last30day = (Date.today - 30).strftime("%Y-%m-%d") + " 00:00:00" %>

<b style="font-size: 16px;">AAA Report - <%= @aaa_report.name %></b><br /><br />

<b>Enable Notifications:</b> <%= @aaa_report.enable_notifications %><br />

<b>Type:</b> <%= @aaa_report.msg_type %><br />

<b>Username:</b> <%= @aaa_report.user %><br />

<b>Client IP:</b> <%= @aaa_report.client %><br />

<b>Client Hostname:</b> <%= @aaa_report.client_name %><br />

<b>Command:</b> <%= @aaa_report.command %><br />

<b>Message:</b> <%= @aaa_report.message %><br />

<b>Status:</b> <%= @aaa_report.status %><br />


<br />

<br /><br />
<b style="font-size: 14px;"><u>Preset Timeline</u></b><br /><br />
<% form_for(:aaa_report, :url => search_aaa_logs_configuration_url(@configuration), :html => { :method => :get } ) do |f| %>
  <table>
    <tr>
      <th>Start Time</th>
      <th>Format</th>
    </tr>
    <tr>
      <td><%= f.select :start_time, [['last 1 day', last1day], ['last 7 days', last7day], ['last 30 days', last30day]] %></td>
      <td><%= select_tag :output_format, '<option value="html">html</option><option value="csv">csv</option>' %></td>
      <td><%= submit_tag "Run" %></td>
    </tr>
  </table><br />
  <%= f.hidden_field :msg_type %>
  <%= f.hidden_field :user %>
  <%= f.hidden_field :client %>
  <%= f.hidden_field :client_name %>
  <%= f.hidden_field :command %>
  <%= f.hidden_field :message %>
  <%= f.hidden_field :status %>
<% end %>

<br /><br />
<b style="font-size: 14px;"><u>Custom Timeline</u></b><br /><br />
<% form_for(:aaa_report, :url => search_aaa_logs_configuration_url(@configuration), :html => { :method => :get } ) do |f| %>
  <table>
    <tr>
      <th>Start Time</th>
      <th>End Time</th></th>
      <th>Format</th>
    </tr>
    <tr>
      <td><%= f.text_field :start_time, :size => 15  %></td>
      <td><%= f.text_field :end_time, :size => 15, :value => Time.now.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= select_tag :output_format, '<option value="html">html</option><option value="csv">csv</option>' %></td>
      <td><%= submit_tag "Run" %></td>
    </tr>
  </table><br />
  <%= f.hidden_field :msg_type %>
  <%= f.hidden_field :user %>
  <%= f.hidden_field :client %>
  <%= f.hidden_field :client_name %>
  <%= f.hidden_field :command %>
  <%= f.hidden_field :message %>
  <%= f.hidden_field :status %>
<% end %>

<br />


